nav {
    background-color: rgb(3, 3, 3);
}

.container {
    width: 80%;
}
#welcome {
    margin-top: 50px;
}
.circle {
    /* border-radius: 50%; */
    width:100px;
    /* float: left; */
    height: 300px;
    width: 300px;
    margin-right:auto;
    text-align: center;
  }


#hello {
    /* background-color:tomato; */
    padding-left: 0px;
    text-align: left;
    margin: auto;
}

#bio {
    margin-top: 50px;
}

#socialMedia {
    margin-top: 150px;
}

.fab {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    padding-left: 0;
  }
  .far {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }

.fa-github {
    padding-right: 0;
}  
.fa-linkedin-in {
    padding-right: 0;
} 

.col-3 {
    align-content: center;
    text-align: center;
}
/* Projects CSS begins here */

/* .wrapper {
    margin-top: 50px;
} */

.Proj1 {
    margin-top: 175px;
}
.Proj2 {
    margin-top: 50px;
}
.Proj3 {
    margin-top: 50px;
}
.Proj4 {
    margin-top: 50px;
}

.imgTitle {
    background-color: rgb(71, 255, 169);
    margin-bottom: 0;
}
.image {
    background-color: rgb(71, 105, 255);
    margin-bottom: 0;
}
.techUsed {
    background-color: rgb(237, 255, 71);
}

.desert {
    /* height: 250em;
    width: 729.2em; */
    height: 334.44px;
    width: 1140px;    
}
@media only screen and (max-width: 1100px) {
     /* For mobile phones: */
     .desert {
    border: 5px solid red;
      height: 5em;
        width: 15em;
    }
 }