hr {
    width: 100%;
    margin-top: auto;
    margin-right: auto;
    background-color: rgb(216, 210, 210);
    height: 2.5px;
}
img {
    float: left;
}
.container {
    background-color: white;
    margin-top: 35px;
    margin-bottom: 35px;
}
body {
    background-color: rgb(252, 246, 247);
}
.responsive {
    width: 100%;
    height: auto;
}