.container {
    width: 80%;
}

.col-9 {
    margin-top: 80px;
}

img {
    /* border-radius: 40%;
    width:100px; */
    float: left;
    height: 250px;
    width: 250px;
    margin-right: 30px;
  }
.nav-wrapper {
    background-color: rgb(97, 105, 109);

}
.fontcolor {
    color: black;
}